/* * {
  border: black 1px solid;
} */

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: copperplate;
    background-image: url('./../images/FELT.jpg')
  }

main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1 0 auto;
}

.transparent-black {
  background-color: rgba(0,0,0, 0.5);
  box-shadow: 1px 1px 1px 1px black;
}

.transparent-black-button {
  background-color: rgba(0,0,0, 0.3);
  box-shadow: 1px 1px 1px 1px black;
}

.transparent-black-button:hover {
  background-color: rgba(0,0,0, 0.65);
  box-shadow: 1px 1px 1px 1px black;
}

.side {
  /* background-color: #26a69a; */
  width: 18vw;
  font-size: 4vh;
}

.side-text {
  color: white;
}

.left-side {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.players-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
}

.face-photo {
  width: 125px;
  height: 100px;
  border-radius: 75%
}

@media (max-width: 700px) {
  .face-photo {
    width: 0px;
    height: 0px;
  }
}

#card-table {
  padding-top: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.where-cards-dealt {
  display: flex;
  justify-content: center; 
}

#card-image-1, #card-image-2, #card-image-3, #card-image-4 {
  box-shadow: 0 8px 6px -6px black;
}

.card-image-size {
  height: 220px;
  width: 150px;
  margin: 5px;
  border-radius: 5px;
  /* box-shadow: 0 8px 6px -6px black; */
  position:relative;
  -webkit-box-shadow:0 5px 9px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 5px 9px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
      box-shadow:0 7px 9px rgba(12, 4, 4, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  }

@media (max-width: 700px) {
  .card-image-size {
    height: 150px;
    width: 100px;
    margin: 5px;
  }
}

hr {
  width: 90%;
}

.betting {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 8vh;
}

.brand-logo {
  text-align: center;
}

.swal-button {
  background-color: black;
}

.current-bet {
  display: flex;
  flex-direction: column;
}

#current-bet-amount {
  width: 85px;
  height: 85px;
  border: 4px solid #872727;
  background-color: #ab3434;
  border-radius: 50%;
  font-family: 'Orbitron', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-decoration: underline; */
}

.bet-amount-vertical-center {
  display: flex;
  align-items: center;
}

.bet-amount-holder {
  display: flex;
  justify-content: center;
}
