body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: copperplate;
    background-image: url('./../images/FELT.jpg')
  }

main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1 0 auto;
}

.dark-grey-color {
  background-color: rgba(0,0,0, 0.6)
}

.side {
  /* background-color: #26a69a; */
  width: 18vw;
  font-size: 4vh;
}

.side-text {
  color: white;
}

.left-side {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.players-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
}

.face-photo {
  width: 125px;
  height: 100px;
  border-radius: 75%
}

#card-table {
  padding-top: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.where-cards-dealt {
  display: flex;
  justify-content: center; 
}

.card-image-size {
  height: 220px;
  width: 150px;
  margin: 0 5px;
  border-radius: 5px;
  box-shadow: 0 8px 6px -6px black;
  position:relative;
  /* took a border I found online and made the px's much higher for 
  shadow to appear better on on the felt background */
  -webkit-box-shadow:0 5px 9px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 5px 9px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
      box-shadow:0 7px 9px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  }

hr {
  width: 90%;
}

.betting {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bet-button {
  background-color: #C62828;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 8vh;
}

#deal, #hit, #stand {
  background-image: url('./../images/FELT.jpg');
  box-shadow: 1px 1px 1px 1px black;
}

.brand-logo {
  text-align: center;
}